@model List<ResultContactDto>
@foreach(var item in Model)
{
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4>
                            Bizimle İletişime Geçin
                        </h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    @item.Location
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    @item.Phone
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    @item.Mail
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div class="footer_detail">
                        <a href="/Default/Index" class="footer-logo">
                            @item.FooterTitle
                        </a>
                        <p>
                            
                            @item.FooterDescription
                        </p>
                        <div class="footer_social">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <h4>
                       @item.OpenDaysDescription
                    </h4>
                    <p>
                        @item.OpenDays
                    </p>
                    <p>
                        @item.OpenHours
                    </p>
                </div>
            </div>
            <div class="footer-info">
                <p>
                    &copy; <span id="displayYear"></span> Tüm Hakları Saklıdır.
                    <br />
                    <a href="https://html.design/">BombBurger | Patlayacaksınız..</a><br><br>
                    <span id="displayYear"></span> Geliştiren 
                    <a href="https://themewagon.com/" target="_blank">Kadir GÜVEN</a>
                </p>
            </div>
        </div>
    </footer>
}